@font-face {
    font-family: 'PermanentMarker';
    src: url('../font/PermanentMarker.ttf');
}

.pagina-1 {
    background-color: #00878f;
    padding-bottom: 50px;
}
.pagina-1 .container {
    /* background-color: transparent; */
    z-index: 15;
}
.pagina-2 {
    background: rgb(244,174,91);
    background: linear-gradient(180deg, rgba(244,174,91,1) 0%, rgba(178,110,27,1) 100%); 
    padding-bottom: 50px;
    position: relative;
}
.pagina-3 {
    background: rgb(206,255,255);
    background: linear-gradient(180deg, rgba(206,255,255,1) 0%, rgba(0,159,171,1) 100%); 
    padding-bottom: 50px;
    position: relative;
}
.pagina-4 {
    background: rgb(0,162,174);
    background: linear-gradient(180deg, rgba(0,162,174,1) 0%, rgba(0,79,83,1) 100%); 
    padding-bottom: 50px;
    position: relative;
}
.pagina-5 {
    background: rgb(224,169,88);
    background: linear-gradient(180deg, rgba(224,169,88,1) 0%, rgba(183,126,50,1) 100%); 
    padding-bottom: 50px;
    position: relative;
}
.pagina-5 .container {
    background-color: #004f53;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: -8px 8px 8px #00000066;
}
.pagina-6 {
    background-image: url('../design/pg6_refs/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1082px;
}
.pagina-6 .container {
    max-width: 1400px;
    background-color: transparent;
    line-height: 1.2rem;
    padding-top: 200px;
}
.bg-1 {
    background-image: url('../design/pg1/folder_body.jpg');
    background-repeat: repeat-y;
    background-position: right top;
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, .4));
}

.bg-2 {
    background-image: url('../design/pg2/bg_texture.jpg');
    background-repeat: repeat-y;
    background-position: right top;
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    margin-bottom: 70px;
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, .4));
}
.bg-3 {
    background-image: url('../design/pg3/bg_texture.jpg');
    background-repeat: repeat-y;
    background-position: right top;
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    margin-bottom: 70px;
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, .4));
}
.bg-4 {
    background-image: url('../design/pg4/folder_body.jpg');
    background-repeat: repeat-y;
    background-position: right top;
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    margin-bottom: 70px;
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, .4));
}
.bg-5 {
    background-image: url('../design/pg5/bg_texture.jpg');
    background-repeat: repeat-y;
    background-position: right top;
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    margin-bottom: 70px;
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, .4));
}
.bg-1 .container, .bg-2 .container, .bg-3 .container, .bg-4 .container {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: -8px 8px 8px #00000066;
}
.bg-1::after {
    content: '';
    background-image: url('../design/pg1/folder_index.png');
    height: 600px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 135px;
    top: 100px;
    z-index: 1;
    position: absolute;
}
.bg-2::after {
    content: '';
    background-image: url('../design/pg2/folder_index.png');
    height: 600px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 135px;
    top: 100px;
    z-index: 1;
    position: absolute;
}
.bg-3::after {
    content: '';
    background-image: url('../design/pg3/folder_index.png');
    height: 600px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 135px;
    top: 100px;
    z-index: 1;
    position: absolute;
}
.bg-4::after {
    content: '';
    background-image: url('../design/pg4/folder_index.png');
    height: 600px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 135px;
    top: 100px;
    z-index: 1;
    position: absolute;
}
.bg-5::after {
    content: '';
    background-image: url('../design/pg5/folder_index.png');
    height: 600px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 135px;
    top: 100px;
    z-index: 1;
    position: absolute;
}
.container-2, .container-3, .container-4 {
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: -8px 8px 8px #00000066;
}
.titulo-conteudo {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 99;
}
.titulo-conteudo .container {
    background-color: transparent;
    
}
.c-mt {
    margin-top: 90px;
}
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.caixa-img-1 {
    background-image: url('../design/pg1/destaque1.png');
    width: 331px;
    height: 243px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-left: 65px;
    padding-right: 25px;
    margin: 35px auto;
    position: relative;
}
.caixa-img-2 {
    background-image: url('../design/pg1/destaque2.png');
    width: 512px;
    height: 257px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-left: 65px;
    padding-right: 25px;
    margin: 35px auto;
    position: relative;
}
.caixa-img-3 {
    background-image: url('../design/pg1/destaque3.png');
    width: 418px;
    height: 247px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-left: 65px;
    padding-right: 25px;
    margin: 35px auto;
    position: relative;
}
.caixa-img-4 {
    background-image: url('../design/pg2/destaque1.png');
    width: 613px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-left: 65px;
    padding-right: 25px;
    margin: 35px auto;
    position: relative;
}
.caixa-img-5 {
    background-image: url('../design/pg2/destaque2.png');
    width: 657px;
    height: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 65px;
    padding-right: 115px;
    margin: 35px auto;
    position: relative;
}
.caixa-img-6 {
    background-image: url('../design/pg2/destaque3.png');
    width: 459px;
    height: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 65px;
    padding-right: 115px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-7 {
    background-image: url('../design/pg2/destaque4.png');
    width: 657px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 65px;
    padding-right: 115px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-8 {
    background-image: url('../design/pg2/destaque5.png');
    width: 395px;
    height: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 65px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-9 {
    background-image: url('../design/pg3/destaque1.png');
    width: 691px;
    height: 316px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 145px;
    padding-right: 25px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-10 {
    background-image: url('../design/pg3/destaque2.png');
    width: 681px;
    height: 221px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 125px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-11 {
    background-image: url('../design/pg3/destaque3.png');
    width: 572px;
    height: 203px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 125px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-12 {
    background-image: url('../design/pg3/destaque4.png');
    width: 742px;
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 135px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-13 {
    background-image: url('../design/pg4/destaque1.png');
    width: 571px;
    height: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 155px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-14 {
    background-image: url('../design/pg4/destaque2.png');
    width: 537px;
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 155px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-15 {
    background-image: url('../design/pg4/destaque3.png');
    width: 593px;
    height: 212px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 155px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-16 {
    background-image: url('../design/pg4/destaque4.png');
    width: 589px;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 155px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-17 {
    background-image: url('../design/pg4/destaque5.png');
    width: 686px;
    height: 249px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 155px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-18 {
    background-image: url('../design/pg5/destaque1.png');
    width: 572px;
    height: 203px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 155px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-19 {
    background-image: url('../design/pg5/destaque2.png');
    width: 447px;
    height: 331px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 45px auto;
    position: relative;
    color: #333;
}
.caixa-img-19::after {
    content: '';
    position: absolute;
    height: 203px;
    width: 329px;
    background-image: url('../design/pg5/pc4e3_pg5.png');
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.caixa-img-20 {
    background-image: url('../design/pg5/destaque3.png');
    width: 577px;
    height: 257px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 155px;
    padding-right: 105px;
    margin: 35px auto;
    position: relative;
    color: #333;
}
.caixa-img-15 p, .caixa-img-17 p {
    line-height: 1.4rem;
}
.caixa-img-9 p {
    line-height: 1.5rem;
}
.caixa-gaita {
    background-color: #00a0ad;
    color: white;
    padding: 10px 30px 10px 70px;
    width: 80%;
    position: relative;
    margin: 35px auto 0 auto;
}
.caixa-gaita::after {
    content: '';
    position: absolute;
    height: 130px;
    width: 130px;
    background-image: url('../design/pg1/ico_importante.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: -75px;
    top: -20px;
}
.caixa-gaita p {margin-bottom: 0;}
.caixa-img-5::after, .caixa-img-7::after {
    content: '';
    position: absolute;
    height: 130px;
    width: 130px;
    background-image: url('../design/pg2/ico_dica.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: -75px;
}
.caixa-img-8::after {
    content: '';
    position: absolute;
    height: 130px;
    width: 130px;
    background-image: url('../design/pg2/ico_importante.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: -75px;
}
.caixa-img-2::after, .caixa-img-6::after {
    content: '';
    position: absolute;
    height: 130px;
    width: 130px;
    background-image: url('../design/pg1/ico_forum.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: -55px;
}
.caixa-img-1::after, .caixa-img-3::after{
    content: '';
    position: absolute;
    height: 130px;
    width: 130px;
    background-image: url('../design/pg1/ico_pergunta.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: -80px;
}
.caixa-img-4::after {
    content: '';
    position: absolute;
    height: 130px;
    width: 130px;
    background-image: url('../design/pg1/ico_importante.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: -75px;
}
.caixa-img-1 p {
    font-size: 20px;
    line-height: 1.5rem;
}
.img-pipa {
    padding-right: 20px;
    width: 100%;
}
.painel-gaitinha .accordion-button {font-family: unset;}
.painel-pg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 640px;
    margin: 35px auto 0 auto;
}
/*
.painel-pg2 button {
    width: 153px;
    margin: 10px;
    padding-bottom: 180px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    border: none;
}
.painel-pg2 button:nth-child(1) {
    background-image: url('../design/pg2/bt1.png');
}
.painel-pg2 button:nth-child(1):hover {
    background-image: url('../design/pg2/bt1_hover.png');
}
.painel-pg2 button:nth-child(2) {
    background-image: url('../design/pg2/bt2.png');
}
.painel-pg2 button:nth-child(3) {
    background-image: url('../design/pg2/bt3.png');
}
.painel-pg2 button:nth-child(4) {
    background-image: url('../design/pg2/bt4.png');
}
.painel-pg2 button:nth-child(5) {
    background-image: url('../design/pg2/bt5.png');
}
.painel-pg2 button:nth-child(2):hover {
    background-image: url('../design/pg2/bt2_hover.png');
}
.painel-pg2 button:nth-child(3):hover {
    background-image: url('../design/pg2/bt3_hover.png');
}
.painel-pg2 button:nth-child(4):hover {
    background-image: url('../design/pg2/bt4_hover.png');
}
.painel-pg2 button:nth-child(5):hover {
    background-image: url('../design/pg2/bt5_hover.png');
}
*/

.btn-painel_pg2{
    border: none;
    margin: 10px;
}
.painel-pg2-btn01{
    background: url('../design/pg2/bt1.png') no-repeat;
    background-size:contain;
    width: 180px;
    height: 189px;
}
.painel-pg2-btn02{
    background: url('../design/pg2/bt2.png') no-repeat;
    background-size:contain;
    width: 181px;
    height: 189px;
}
.painel-pg2-btn03{
    background: url('../design/pg2/bt3.png') no-repeat;
    background-size:contain;
    width: 190px;
    height: 190px;
}
.painel-pg2-btn04{
    background: url('../design/pg2/bt4.png') no-repeat;
    background-size:contain;
    width: 180px;
    height: 187px;
}
.painel-pg2-btn05{
    background: url('../design/pg2/bt5.png') no-repeat;
    background-size:contain;
    width: 128px;
    height: 165px;
}
.painel-pg2-btn01:hover{background-image: url('../design/pg2/bt1_hover.png');}
.painel-pg2-btn02:hover{background-image: url('../design/pg2/bt2_hover.png');}
.painel-pg2-btn03:hover{background-image: url('../design/pg2/bt3_hover.png');}
.painel-pg2-btn04:hover{background-image: url('../design/pg2/bt4_hover.png');}
.painel-pg2-btn05:hover{background-image: url('../design/pg2/bt5_hover.png');}


video {
    background-color: #333;
    border-radius: 10px;
    display: block;
    margin: 35px auto;
    height: 280px;
}
.fundo-azul {
    background-color: #004f54;
    color: white;
    padding: 25px;
    padding-top: 80px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .4);
}
.img-p-1 {
    margin-left: -100px;
}
h4 {
    margin-top: 60px;
}
.paddingleft {padding-left: 200px;} .fix-margin{margin-top: -20px;} .text-align-center {text-align: center; font-size: 20px;}
/* cartas */
/* Efeito de card no hover */

.cartaMemoria {
    height: 251px;
    width: 261px;
    margin: 15px auto;
    border-radius: 6px;
    -webkit-perspective: 600px;
    perspective: 600px;
    /* position: relative;
	font-size: 1em; */
    cursor: pointer;
    background-color: transparent;
}

.ladoFrente {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: inherit;
    text-align: center;
    border-radius: 25px;
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 6px;
    background-color: transparent;
}

.ladoTras {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: inherit;
    -webkit-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 15px;
    background-color: transparent;
}
.ladoFrente img, .ladoTras img {
    width: 261px;
    height: 251px;
    background-color: transparent;
}
.cartaMemoria.flip .ladoFrente {
    z-index: 900;
    background-color: transparent;
    -webkit-transform: rotateY(179deg);
    transform: rotateY(179deg);
}

.cartaMemoria.flip .ladoTras {
    z-index: 1000;
    background-color: transparent;
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    display: flex;
    flex-direction: column;
}

.cartaMemoria:not(.flip)>div.ladoFrente:hover {
    transform: rotate3d(0, 45, 0, 15deg);
    /* box-shadow: -8px 10px 27px rgb(0 0 0 / 40%); */
}

.cartaMemoria.flip>div.ladoTras:hover {
    /* transform: rotate3d(0, 45, 0, 10deg); */
    /* box-shadow: -8px 10px 27px rgba(0, 0, 0, 0.2); */
}
.cartas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 45px auto;
}
.figura-1 {
    margin-left: -300px;
    margin-right: 300px;
}
.caixa-azul-esquisita {
    width: 473px;
    height: 183px;
    background-image: url('../design/ajuste/destaque_bg.png');
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    display: block;
    padding-top: 50px;
    position: relative;
    z-index: 99;
    margin: 50px auto -60px auto;
}
.tooltip-link {
    text-decoration: none;
    border-bottom: 2px dashed #333;
    color: inherit;
    font-size: 18px;
}
.tooltip-link:hover {
    color: inherit;
}
.floaty {float: left; margin-bottom: 20px; margin-right: 15px; margin-left: -30px;}
#img-modal {cursor: pointer;} #bt-lupa {background-color: transparent; border: none;}
.bt-print {margin-top: 60px;}
/* graficos */
.grafico {
    position: absolute;
    z-index: 2;
}

.grafico-1 {
    left: 225px;
    top: 200px;
    z-index: 2;
}

.grafico-2 {
    right: 100px;
    top: 600px;
    position: absolute;
    z-index: 2;
}
.grafico-3 {
    right: 100px;
    bottom: 200px;
    position: absolute;
    z-index: 2;
}
.grafico-4 {
    right: 50px;
    top: 100px;
    z-index: 2;
}
.grafico-5 {
    left: 50px;
    z-index: 2;
    top: 950px;
}
.grafico-6 {
    position: absolute;
    z-index: 2;
    max-width: 100%;
}
.grafico-7 {
    position: absolute;
    z-index: 2;
    bottom: 1000px;
    right: 50px;
}
.grafico-8 {
    position: absolute;
    z-index: 2;
    max-width: 100%;
    bottom: 100px;
}
.grafico-9 {
    left: 50px;
}
.grafico-10 {
    top: 1000px;
    right: 50px;
}
.grafico-11 {
    bottom: 600px;
    right: 75px;
}
.grafico-12 {
    bottom: 0px;
    left: 50px;
}
.grafico-13 {
    right: 100px;
}
.grafico-14 {
    right: 0px;
    top: 2000px;
}
.grafico-15 {
    left: 100px;
    top: 2600px;
}
.grafico-16 {
    left: 50px;
    bottom: 1400px;
}
.grafico-17 {
    right: 100px;
    bottom: 1350px;
}
.grafico-18 {
    bottom: 300px;
}
.grafico-19 {
    right: 100px;
    bottom: 0px;
}
.container-2, .container-3, .container-4 {
    position: relative;
    z-index: 15;
}
.bg-1 {position: relative;}
.bg-1 .container, .bg-2 .container, .bg-3 .container, .bg-4 .container {
    position: relative;
    z-index: 15;
}


.marca-texto{
    background-color: #faeba2;
}
.marca-texto2{
    background-color: #90eb88;
}
.caixa-img-4, .caixa-img-5{
    font-family: PermanentMarker;
}

.destaque-refletir{
    background: url('../design/pg2/dest_refletir.png') no-repeat;
    background-size: 100%;
    width: 500px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 188px;
    padding-right: 16px;
    margin: 10px auto 50px auto;
}
.destaque-refletir p{
    margin-top: 40px;
}

.game-body {
    border: 5px solid #00828b !important;
}
.ico-praticar{
    width: 115px !important;
    position: absolute !important;
    top: auto !important;
    margin-top: 20px;
    margin-left: 20px;
}

.texto-ampliar{
    color: #333 !important;
    text-decoration: none !important;
    text-align: center;
}
.carousel-item a{
    text-decoration: none !important;
}


@media(max-width:1400px){
    .grafico-19, .grafico-17, .grafico-14, .grafico-13, .grafico-11, .grafico-10, .grafico-7, .grafico-4, .grafico-3, .grafico-2 {right: 0;}
    .grafico-16, .grafico-15, .grafico-12, .grafico-10, .grafico-9, .grafico-5, .grafico-1 {
        left: 0;
    }
    .bg-1, .bg-2, .bg-3, .bg-4, .bg-5 {
        background-size: 86% 100%;
    }
    .bg-1 .container, .bg-2 .container,.bg-3 .container,.bg-4 .container,.bg-5 .container {
        margin-right: 150px;
    }
    .grafico-1 {left: 30px;} .grafico-2 {right: 0px;} .grafico-3 {right: 0;}
}
@media (max-width:900px){
    .pagina-6 {
        background-image: unset;
        padding: 15px;
        padding-bottom: 80px;
    }
    .pagina-6 .container {
        background-color: #f4e2a2;
        padding-top: 80px;
        padding-bottom: 10px;
        box-shadow: -4px -4px 4px rgba(0, 0, 0, .4);
    }
    .img-p-1 {max-width: 100%; margin-left: 0;}
    .grafico {display: none;}
    .bg-1::after, .bg-2::after, .bg-3::after, .bg-4::after, .bg-5::after {display: none;}
    .bg-1, .bg-2, .bg-3, .bg-4, .bg-5 {
        background-image: unset;
        padding-top: 0;
        margin-bottom: 0px;
        padding-bottom: 30px;
    }
    .pagina-1, .pagina-2, .pagina-3, .pagina-4, .pagina-5 {
        padding: 35px 20px 60px 20px;
    }
    .figura-1 {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    .figura-1 img {
        max-width: 100%;
    }
    #bt-lupa {
        margin: 35px auto;
        display: block;
    }

    .caixa-img-1, .caixa-img-3{
        max-width: 85%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 10px;
        margin-left: 50px;
    }
    .caixa-img-2, .caixa-img-4, .caixa-img-5, .caixa-img-6, .caixa-img-7, .caixa-img-8, .caixa-img-9, .caixa-img-10, .caixa-img-11, .caixa-img-12, .caixa-img-13, .caixa-img-14, .caixa-img-15, .caixa-img-16, .caixa-img-17, .caixa-img-18, .caixa-img-19, .caixa-img-20 {
        background-color: #fff2b3;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, .4);
        background-image: unset;
        max-width: 85%;
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 70px;
        height: auto;
        margin: 60px auto;
    }
    .caixa-img-19 {
        padding-bottom: 80px;
    }
    .caixa-img-18 {width: 70%;}
    .ico_pergunta::before {
        content: '';
        position: absolute;
        height: 130px;
        width: 130px;
        background-image: url('../design/ajuste/ico_pergunta.png');
        background-size: contain;
        background-repeat: no-repeat;
        left: -55px;
    }
    .ico_atencao::before {
        content: '';
        position: absolute;
        height: 130px;
        width: 130px;
        background-image: url('../design/ajuste/ico_atencao.png');
        background-size: contain;
        background-repeat: no-repeat;
        left: -75px;
    }
    .ico_forum::before {
        content: '';
        position: absolute;
        height: 130px;
        width: 130px;
        background-image: url('../design/pg1/ico_forum.png');
        background-size: contain;
        background-repeat: no-repeat;
        left: -55px;
    }
    .ico_dica::before {
        content: '';
        position: absolute;
        height: 130px;
        width: 130px;
        background-image: url('../design/ajuste/ico_dica.png');
        background-size: contain;
        background-repeat: no-repeat;
        left: -55px;
    }
    video {
        width: 100%;        
    }
    .caixa-gaita {
        width: 100%;
        padding-right: 10px;
    }
    .bt-print {margin-top: 30px; margin-right: 15px;}
    .painel-pg2 button {
        padding-bottom: 155px;
        border: 1px solid rgba(0, 0, 0, .4);
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
        height: 209px;
    }
    .game-flex {
        flex-direction: column;
    }
    .img-p-5 {max-width: 100%;}
}
@media(max-width: 600px){
    video {
        width: 100%;
        height: 160px;
    }
    .paddingleft {
        padding-left: 50px;
    }
    .bt-print {margin-top: -20px;}
    .caixa-azul-esquisita {
        width: auto;
        background-image: unset;
        background-color: #00a5b1;
        border-radius: 25px;
        margin-left: 25px;
        margin-right: 25px;
        height: auto;
        padding-top: 1.5rem;
        padding-bottom: 15px;
    }
}

@media(max-width: 480px){
    .destaque-refletir{
        background: url('../design/pg2/destaque1.png') no-repeat;
        background-size: 100%;
        width: 100%;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        margin: 10px auto 50px auto;
    }
    .destaque-refletir p{
        margin-top: 10px;
    }

    .ico-praticar{
        margin-top: 40px;
        margin-left: 10px;
    }
}